.DS_Store
*.class
02 Java/.idea/workspace.xml
02 Java/.idea/vcs.xml
02 Java/.idea/modules.xml
02 Java/.idea/misc.xml
02 Java/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
02 Java/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
02 Java/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
02 Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
02 Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
02 Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
02 Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
02 Java/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
02 Java/.idea/jarRepositories.xml
02 Java/.idea/compiler.xml
02 Java/.idea/02 Java.iml
